<h2>Lista de asignaturas</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Profesor</th>
            <th>Estudiantes</th>
            <th>Curso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let asignatura of asignaturas">
           <td>{{asignatura.nombre}}</td> 
           <td>{{asignatura.profesor}}</td> 
           <td>{{asignatura.estudiantes}}</td> 
           <td>{{asignatura.curso}}</td> 
           <td>
               <button (click)="actualizarAsignatura(asignatura.id)" class="btn btn-primary">Editar</button>
               <button (click)="eliminarAsignatura(asignatura.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
               <button (click)="verDetallesDeLaAsignatura(asignatura.id)" class="btn btn-info" style="margin-left: 10px;">Detalles</button>
           </td>
        </tr>
    </tbody>
</table>