<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de asignatura</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre : </label>
            <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="asignatura.nombre">
        </div>
        <div class="form-group">
            <label>Profesor : </label>
            <input type="text" name="profesor" id="profesor" class="form-control" [(ngModel)]="asignatura.profesor">
        </div>
        <div class="form-group">
            <label>Estudiantes : </label>
            <input type="text" name="estudiantes" id="estudiantes" class="form-control" [(ngModel)]="asignatura.estudiantes">
        </div>
        <div class="form-group">
            <label>Curso : </label>
            <input type="text" name="curso" id="curso" class="form-control" [(ngModel)]="asignatura.curso">
        </div>
        <br>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>
