<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="asignaturas" routerLinkActive="active" class="nav-link">Lista de asignaturas</a>
        </li>
        <li class="nav-item">
            <a routerLink="registrar-asignatura" routerLinkActive="active" class="nav-link">Añadir asignatura</a>
        </li>
    </ul>
</nav>


<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet> 
</div>